.header {
    background: darkgray;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.headerInner{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 50px;
    margin: 0 20px;
}


.navItem{
    margin-right: 10px;
    font-size: 20px;
}
.navItem a{
   text-decoration: none;
    color: #000000;
    transition: 0.2s color linear;
}
.navItem a:hover{
    color: white;
    border-bottom: 2px solid #000000;
}