.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.header{
 background: darkgray;
}



.headerInner{
    display: flex;
    justify-content: center;
}

.headerInner p{
    font-size: 20px;
    font-weight: 700;
}